/**
 * CSS
 */
ul {
	padding: 0;
}
li {
	list-style: none;
}
.loading {
    background-color: rgba(180, 180, 180, .8);
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    margin: 0;
    padding: 0;
    border: 0;
}
header {
	width: 100%;
}
.back {
	width: 20%;
	float: left;
}
.titulo-header {
	width: 80%;
	float: left;
}
.titulo-header span {
	font-size: 18px;
	font-weight: bold;
}