/**
 * CSS reset do cordova
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}
body {
    -webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
}

/*
 * CSS do projeto
 */
.logo-ide {
	width: 100px;
	margin: 20px;
}
.center {
	margin: 20px;
}
footer.text-right {
	text-align: right;
}
section.center div.titulo {
	font-size: 22px;
	font-weight: bolder;
	-webkit-padding-start:20px;
	margin-bottom: 20px;
}
.fontes {
	font-size: 16px !important;
	text-decoration: underline;
}