<div class="animated fadeIn" style="margin: 20px">
	<h1>Lista de clientes</h1>
	
	<ul>
		<li ng-repeat="cliente in clientes" ng-click="redirectEdit(cliente)">
			{{cliente.nome}} - {{cliente.idade}}
		</li>
	</ul>
	<button value="Adicionar cliente" ng-click="redirectAdd()">Adicionar cliente</button>
</div>