<div class="animated fadeIn" style="margin: 20px">
	<div>
		Ola Seja bem vindo <b>{{nomeUsuario}}</b>!!!
		<br />
		<button value="Fazer logout" ng-click="logout()" style="border: 1px solid #000;">Fazer logout</button>
		<br />
		<button value="Listar clientes" ng-click="redirectClientes()" style="border: 1px solid #000;">Listar clientes</button>
	</div>
</div>