<div class="animated fadeIn" style="margin: 20px">
	<header-with-back titulo="titulo"></header-with-back>
	
	<span ng-show="cliente.id">Id: {{cliente.id}}</span>
	<form name="clientesForm" ng-submit="saveCliente()" novalidate>
		<input id="clienteEmail" class="input-login" type="email" placeholder="Email" ng-model="cliente.email" name="email" required>
		<input id="clienteSenha" class="input-login" type="password" placeholder="Senha" ng-model="cliente.senha" name="senha" required>
		<input id="clienteNome" class="input-login" type="text" placeholder="Nome" ng-model="cliente.nome" name="nome">
		<input id="clienteIdade" class="input-login" type="number" placeholder="Idade" ng-model="cliente.idade" name="idade">
		<input id="clienteDataNascimento" class="input-login" type="date" placeholder="Data Nascimento" ng-model="cliente.data_nascimento" name="data_nascimento">
		<span>{{cliente.data_nascimento | calcAge}}</span>
		<div>
			<input type="submit" value="Salvar" style="border: 1px solid #000;">
		</div> 
	</form>
</div>