<header class="fadeInDown animated">
	<div class="back" ng-click="back()" ng-hide="naoVoltar">
		<i class="fa fa-chevron-left"></i>
	</div>
	<div class="titulo-header">
		<span>{{titulo}}</span>
	</div>
</header>