<div class="animated fadeIn" style="margin: 20px">
	<header-with-back titulo="'Lista de Clientes'"></header-with-back>
	
	<ul>
		<li ng-repeat="cliente in clientes" ng-click="redirectEdit(cliente)">
			{{cliente.nome}} - {{cliente.idade}}
		</li>
	</ul>
	<button value="Adicionar cliente" ng-click="redirectAdd()">Adicionar cliente</button>
</div>