<div class="animated fadeIn" style="margin: 20px">
	<header-with-back titulo="tituloTela" nao-voltar="true"></header-with-back>
	
	<div>
		<br />
		<button value="Fazer logout" ng-click="logout()" style="border: 1px solid #000;">Fazer logout</button>
		<br />
		<button value="Listar clientes" ng-click="redirectClientes()" style="border: 1px solid #000;">Listar clientes</button>
	</div>
</div>