/**
 * CSS
 */
.logo-ide {
	width: 100px;
	margin: 20px;
}
.center {
	margin: 20px;
}
footer.text-right {
	text-align: right;
}
section.center div.titulo {
	font-size: 22px;
	font-weight: bolder;
	-webkit-padding-start:20px;
	margin-bottom: 20px;
}
.fontes {
	font-size: 16px !important;
	text-decoration: underline;
}